* {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 20px;
}
#main {
    padding-left: 30px;
    padding-right: 30px;
}
img {
    border-radius: 25px;
}
#bg-navbar {
    background: url(gambar/gambar.png); 
    height: 100px;
    background-position: center;
}
.nav-item {
    text-transform: uppercase;
    margin-right: 30px;
}
.nav-link:hover {
    border-bottom: 5px solid white;
    background-color: rgba(34, 29, 29, 0.548);
}
ul li .nav-link {
    font-size: 20px;
}

#modal {
    position: center;

}

.hero{
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

.conta{
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gambar{
    width:50%;
}