* {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 30px;
}
#main {
    padding-left: 30px;
    padding-right: 30px;
}
img {
    border-radius: 25px;
}
video {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}
#bg-navbar {
    background: url(gambar/gambar.png); 
    height: 100px;
    background-position: center;
}
.nav-item {
    text-transform: uppercase;
    margin-right: 30px;
}
.nav-link:hover {
    border-bottom: 5px solid white;
    background-color: rgba(34, 29, 29, 0.548);
}
ul li .nav-link {
    font-size: 20px;
}
table tr td {
    padding: 10px 10px 10px 10px;

}
.container button {
    border-radius: 25px;
    font-size: 25px;
    width: 200px;
    margin-top: 25px;
}
.container button:hover{
    background-color: green;
    color: #fff;
}